// 🎨 Base Colors
$color-image: #FFECC8;
$color-card: #343964;

// 🎨 UI Elements
$color-button-disabled: #393F6E;
$color-step-inactive: #8B8EAB;

// 🎨 Text
$color-text-primary: #E2E4F3;

// 🎨 State
$color-success: #3E9FFF;
$color-error: #DD524C;

// 🎨 버튼 gradient
$gradient-primary: linear-gradient(135deg, #E65895, #BC6BE8);

// 폰트
$font-main: 'Pretendard', sans-serif;

// spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// border radius
$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 20px;